{% extends 'base.html' %}
{% load static %}
{% load core_tags %}

{% block subtitle %}
    {{ object.name }}
{% endblock %}


{% block content %}


    {# GO BACK #}
    <div class="row">
        <div class="col-sm-6">
            <p>
                <a href="{% url 'admins:event-list' %}">
                    <i class="fa fa-arrow-left"></i> Go Back
                </a>
            </p>
        </div>
        <div class="col-sm-6 text-right">
            <a class="btn btn-primary" href="/admin/lucky_draw/event/{{ object.id }}/change/"><i class="fa fa-edit"></i>
                Edit</a>
            <a class="btn btn-danger" href="{% url 'admins:event-delete' object.id %}"><i class="fa fa-trash"></i>
                Delete</a>
        </div>
    </div>

    {# MAIN #}
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    {# TOP DETAILS #}
                    <div class="text-center mt-2">
                        <img src="https://placehold.co/200?text=E" height="150" class="rounded-circle border p-1">
                        <h3 class="mt-4 mb-0">
                            <b>{{ object.name }}</b>
                        </h3>
                        <p class="fw-light text-muted mb-0">{{ object.description }}</p>
                    </div>

                    {# DETAILS #}
                    <div class="row mt-4">
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-email"></i></p>
                            <p class="mb-0 text-center h5">Type</p>
                            <p class="mb-0 text-center text-danger h5">{{ object.get_event_type_display }}</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 text-center h3">
                                {% if object.status == 'draft' %}
                                    <i class="mdi mdi-exclamation-thick text-warning"></i>
                                {% elif object.status == 'published' %}
                                    <i class="bx bx-loader bx bx-spin text-primary"></i>
                                {% elif object.status == 'completed' %}
                                    <i class="fa fa-check-circle text-success"></i>
                                {% else %}
                                    <i class="fa fa-times-circle text-danger"></i>
                                {% endif %}
                            </p>
                            <p class="mb-0 text-center h5">Status</p>
                            <p class="mb-0 text-center h5">
                                {{ object.get_status_display }}
                            </p>
                        </div>
                        <div class="col text-center">
                            <p class="mb-0 text-center h3"><i class="bx bx-bell bx-tada"></i></p>
                            <p class="mb-0 text-center h5">Spun Speed</p>
                            <p class="mb-0 text-center h1">
                                {{ object.spun_time }}<br>
                            </p>
                        </div>
                        <div class="col text-center">
                            <p class="mb-0 text-center h3"><i class="bx bx-bell bx-tada"></i></p>
                            <p class="mb-0 text-center h5">Spun Time</p>
                            <p class="mb-0 text-center h1">
                                {{ object.spun_speed }}<br>
                            </p>
                        </div>
                        <div class="col text-center">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-security"></i></p>
                            <p class="mb-0 text-center h5">Participants</p>
                            <p class="mb-0 text-center h1">
                                {{ object.participant_set.count }}
                            </p>
                        </div>
                        <div class="col text-center">
                            <p class="mb-0 text-center h3"><i class="bx bx-bell bx-tada"></i></p>
                            <p class="mb-0 text-center h5">Spun On</p>
                            <p class="mb-0 text-center">
                                {{ object.spun_on.date }}<br>
                                {{ object.spun_on.time }}<br>
                            </p>
                        </div>
                        <div class="col text-center">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-calendar"></i></p>
                            <p class="mb-0 text-center h5">Created On</p>
                            <p class="mb-0 text-center">
                                {{ object.created_on.date }}<br>
                                {{ object.created_on.time }}<br>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    {# OTHER #}
    <div class="row">

        {# PARTICIPANTS #}
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body border-bottom">
                    <h5 class="mb-0">Participants</h5>
                </div>
                <div class="card-body">

                    {% if object.participant_set.count > 0 %}
                        {% for p in object.participant_set.all %}
                            <span class="badge bg-soft-success text-success p-1 m-1" style="font-size: 15px;">
                            {{ p }}
                        </span>
                        {% endfor %}
                    {% else %}
                        <p class="mb-0 text-danger"><b>No participants added yet</b></p>
                    {% endif %}

                </div>
            </div>
        </div>

        {# RESULTS #}
        <div class="col-sm-4">
            <div class="card">

                <div class="card-body border-bottom">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="mb-0">Winner</h5>
                        </div>

                        <div class="col-6 text-right">
                            <h5 class="mb-0">
                                {% if object.status == 'completed' %}
                                    <a href="{% url 'admins:lucky-draw-winner' object.id %}">
                                        <b><i class="fa fa-eye"></i> Open</b>
                                    </a> |
                                    <a href="{% url 'admins:event-result' object.result.id %}">
                                        <b><i class="fa fa-edit"></i> Edit</b>
                                    </a>
                                {% endif %}
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    {% if object.status == 'completed' %}
                        <div class="text-center">
                            {% if object.result.image %}
                                <img src="{{ object.result.image.url }}" height="150" width="auto"
                                     class="rounded-circle" alt="animate-winner">
                            {% else %}
                                <img src="{% static 'animate.gif' %}" height="150" width="auto" alt="animate-winner">
                            {% endif %}
                            <div class="mt-4">
                                <input name="winner-url" id="winner-url" value="{{ base_url }}" type="url"
                                       hidden="hidden">
                                <h3>{{ object.result.full_name|check_null }}</h3>
                                <h5>{{ object.result.participant.token_number }}</h5>
                            </div>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <h1 class="text-danger mb-0"><i class="fa fa-times"></i></h1>
                            <p class="text-danger mb-0">
                                <b>
                                    This event isn't spurned yet.
                                </b>
                            </p>
                            <p class="mb-1">Click here to start/Spun</p>
                            <a href="{% url 'admins:lucky-draw' object.id %}" class="btn btn-success">
                                Spun Now
                            </a>
                        </div>
                    {% endif %}
                </div>

                {% if object.status == 'completed' %}
                    <div class="card-body border-top">
                        <div class="row">

                            <div class="col-6 text-center border-right">
                                <p class="mb-0">
                                    <button class="btn btn-light" id="copy-btn">
                                        <b><i class="fa fa-copy"></i> Copy Link</b>
                                    </button>
                                </p>
                            </div>

                            <div class="col-6 text-center">
                                <p class="mb-0">
                                    <button class="btn btn-light text-success" id="share-Whatsapp">
                                        <b><i class="fa fa-phone"></i> Share on Whatsapp</b>
                                    </button>
                                </p>
                            </div>

                        </div>
                    </div>
                {% endif %}

            </div>
        </div>

    </div>

{% endblock %}


{% block js_code %}
    <script>
        $(document).ready(function () {

            $('#copy-btn').click(function () {
                copyUrlToClipBoard();
            });

            $('#share-Whatsapp').click(function () {
                let url = document.getElementById("winner-url").value;
                let message = "Let's find the winner of Event {{ object.name }}! Visit the link below to view the official announcement:\n\n" + url;
                window.open('https://api.whatsapp.com/send?text=' + encodeURIComponent(message), '_blank');
            });

            function copyUrlToClipBoard() {
                let copyText = document.getElementById("winner-url");

                copyText.select();
                copyText.setSelectionRange(0, 99999); // For mobile devices

                navigator.clipboard.writeText(copyText.value);
                alert("Copied: " + copyText.value);
            }
        });
    </script>
{% endblock %}
