{% extends 'base.html' %}
{% load static %}
{% load core_tags %}

{% block subtitle %}
    {{ user.username }}
{% endblock %}

{% block base_top_nav %}

{% endblock %}

{% block only-body %}

    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="row justify-content-center">
                        <div class="cols text-center">
                            <img src="{% static 'core/images/logos/logo.png' %}" height="100" class="mb-3">
                            <p class="mb-0">EVENT #{{ object.id }}</p>
                            <p class="h3 text-success mb-4">WinnieSpin (Lets Spin)</p>
                            <p class="h1 mb-0 text-secondary"
                               style="padding: 10px; text-shadow: grey; font-size: xxx-large; border: 10px solid lightgrey; border-radius: 10px;"
                               id="spin-data">
                                ||||||||||||||||
                            </p>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-4">
                        <div class="cols">
                            <button class="btn btn-lg btn-success" id="spin-btn">
                                <i class="fa fa-spin fa fa-spinner"></i> Spin Now.
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'core/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'core/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'core/libs/node-waves/waves.min.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'core/js/app.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
    <script src="{% static 'confetti.js' %}"></script>

{% endblock %}

{% block js_code %}
    <script>

        $(document).ready(function () {

            celebrate_start();
            let result = "{{ result }}";
            let object_id = {{ object.id }};


            $('#spin-btn').click(function () {
                spin_now();
            });

            function spin_now() {
                let names = {{ names|safe }};
                let endTime = Date.now() + {{ seconds }};

                function updateText() {
                    let randomIndex = Math.floor(Math.random() * names.length);
                    $("#spin-data").text(names[randomIndex]);
                    if (Date.now() < endTime) {
                        setTimeout(updateText, 50);
                    } else {


                        if (result !== "0") {
                            $("#spin-data").text(result);
                        }
                        result = $("#spin-data").text();

                        celebrate_sides();
                        celebrate();
                        $('#spin-btn').hide();

                        save_to_records(result);
                    }
                }

                updateText();
            }

            function save_to_records(token_number) {
                $.post(
                    "/admins/json/event/"+object_id+"/token_number/"+token_number+"/", {
                        token_number: token_number,
                    },
                    function (data, status) {
                        console.log(status);
                        console.log(data);
                    });
            }
        });


    </script>

{% endblock %}
