{% extends 'base.html' %}
{% load static %}
{% load core_tags %}

{% block subtitle %}
    {{ user.username }}
{% endblock %}

{% block css %}
    <style>

        #countdown {
            font-size: 36px; /* Adjust font size as needed */
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block base_top_nav %}

{% endblock %}

{% block only-body %}

    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">

                    <div class="row justify-content-center mt-5">
                        <div class="cols">
                            <a href="{% url 'admins:event-detail' object.id %}">
                                <b>
                                    <i class="bx bx-arrow-back"></i> back to {{ object.name }}
                                </b>
                            </a>
                        </div>
                    </div>


                    <div class="row justify-content-center mt-4">
                        <div class="cols text-center">
                            <img src="{% static 'core/images/logos/logo.png' %}" height="100" class="mb-3 fa fa-spin">
                            <p class="mb-0">EVENT #{{ object.id }}</p>
                            <p class="h1 text-success mb-5">WinnieSpin</p>
                            <p class="h1 mb-0 text-secondary text-shadow1"
                               style="padding: 10px; text-shadow: grey; font-size: 60px; border: 10px solid lightgrey; border-radius: 10px;"
                               id="spin-data">
                                |||||||||||||||||||||||
                            </p>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-5 text-center">
                        <div class="cols">
                            <p class="mb-1 h5" id="countdown-head">Hold your breadth spinners!</p>
                            <p class="h2 mb-0 text-danger" id="countdown" style="font-size: 50px">
                                <i class="bx bx-alarm bx-tada"></i>
                            </p>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-5" id="spin-btn-div">
                        <div class="cols">
                            <button class="btn btn-lg btn-success" id="spin-btn">
                                <i class="fa fa-spin fa fa-spinner"></i> Spin Now.
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'core/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'core/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'core/libs/node-waves/waves.min.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'core/js/app.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
    <script src="{% static 'confetti.js' %}"></script>

{% endblock %}

{% block js_code %}
    <script>

        $(document).ready(function () {

            celebrate_start();
            let countdown = $("#countdown");
            let countdown_heading = $("#countdown-head");

            let result = "{{ result }}";
            let object_id = {{ object.id }};
            let remainingTime = {{ seconds }} / 1000; // Convert milliseconds to seconds


            $('#spin-btn').click(function () {
                spin_now();
            });

            function spin_now() {
                $('#spin-btn-div').hide();
                let names = {{ names|safe }};
                let endTime = Date.now() + {{ seconds }};

                function updateText() {
                    let randomIndex = Math.floor(Math.random() * names.length);
                    $("#spin-data").text(names[randomIndex]);
                    if (Date.now() < endTime) {
                        remainingTime = Math.ceil((endTime - Date.now()) / 1000);
                        countdown.text(`${remainingTime}`);
                        setTimeout(updateText, {{ speed }});
                    } else {
                        if (result !== "0") {
                            $("#spin-data").text(result);
                        }
                        result = $("#spin-data").text();

                        celebrate_sides();
                        celebrate();
                        countdown_heading.text("🎊 We Found the Winner 🎉")
                        countdown.text("Congratulations🥳")

                        save_to_records(result);
                    }
                }

                updateText();
            }


            function save_to_records(token_number) {
                $.post(
                    "/admins/json/event/" + object_id + "/token_number/" + token_number + "/", {
                        token_number: token_number,
                    },
                    function (data, status) {
                        console.log(status);
                        console.log(data);
                    });
            }
        });


    </script>

{% endblock %}
